@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
      font-family: "Curse", sans-serif;
      width: 100vw;
      overflow: hidden;
      text-shadow: #e0e0e0 0.2px 0.2px 0;
}
@font-face {
  font-family: 'Die';
  src: url('/fonts/DIEDIEDI.TTF') format('truetype');
}
@font-face {
  font-family: 'Curse';
  src: url('/fonts/Gypsy Curse.ttf') format('truetype');
}

.jankyborder{
    border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
}
.jankyborderchat{
    border-bottom-left-radius: 37px 140px;
  border-bottom-right-radius: 23px 130px;
  border-top-left-radius: 110px 19px;
  border-top-right-radius: 120px 24px;
}